@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    font-family: SF Pro Display, SF pro Icons, Helvetica neue, Helvetica, sans-serif;
    line-height: 1.1;
    letter-spacing: 0em;
}